body {
  background-color: #efe9e4 !important;
}

.boardRow,
.board2Row {
  padding-top: 5rem !important;
}

.boardCon {
  height: 650px !important;
  /* width: 90% !important; */
  /* margin: auto !important; */
}

.imgCol1 {
  overflow: hidden;
  border-radius: 25px;
  /* border: 1px solid; */
  height: 300px;
}

.imgCol2 {
  overflow: hidden;
  /* border: 1px solid; */
  height: 300px;
}

.imgCol1 img {
  width: -webkit-fill-available;
}

.boardRow2 {
  padding-top: 5rem !important;
}

.boardRow2 div p {
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem !important;
}

.boardRow2 div div {
  text-align: left;
  font-size: 1.4rem;
}

.imgB2Col1 {
  width: 300px;
  height: 410px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.imgB2Col1 img {
  width: 550px;
}

.imgB2Col2 {
  overflow: hidden;
  border-radius: 45px;
  border: 1px solid;
  height: 300px;
  display: flex;
}

.imgB2Col2 img {
  width: -webkit-fill-available;
}

.board2Col {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px !important;
}
.board2Row2 div div {
  height: 100%;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 2rem;
}

.board2Row2 div .col2detail {
  font-size: 20px !important;
}

.board3Col div {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.board3Col2 div {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.imgB3Col1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  column-gap: 2rem;
}

.imgB3Col1 img {
  overflow: hidden;
  border-radius: 50px;
  /* border: 1px solid; */
  height: 300px;
}

.board4Col2 .imgB4Col1 {
  overflow: hidden;
  width: 450px;
  height: 300px;
}
.board4Col2 .imgB4Col1 img{
    width: -webkit-fill-available;
}
.board4Col3 .imgB4Col2{
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    height: 200px;
}

.board4Col3 .imgB4Col2 img {
    width: -webkit-fill-available;
  }

.board4Col4{
    font-weight: bold;
    text-align: left;
}

.board4Col{
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}